# Data cleaning

## Preparing the Data for insertion into the database

First we need to import pandas and the csv file we are going to clean

In [2]:
import pandas as pd

## Summary csv

We are starting with Quaterly greenhouse emissions csv in order to have a clean file to then create our relational database.

In [3]:
df = pd.read_csv("1_Quarterly_Greenhouse_Gas_GHG_Air_Emissions_Accounts.csv")
df

,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,Industry,...,2021Q2,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4,2023Q1,2023Q2,2023Q3
0,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",...,48.293603,49.023880,48.534729,42.463424,44.620503,49.843742,45.707318,41.879055,46.067854,48.331684
1,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",...,48.389825,45.826802,47.111955,46.918298,44.676357,46.670915,44.369416,46.199926,45.988041,45.314973
2,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",...,0.195309,0.194912,0.187858,0.177950,0.162114,0.160891,0.162762,0.179654,0.156565,0.160439
3,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",...,0.198621,0.194162,0.182285,0.177962,0.166515,0.161461,0.157779,0.176150,0.161496,0.161493
4,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",...,292.579737,263.075209,361.352662,411.523790,285.358970,258.514890,371.578632,400.191244,291.007303,268.634091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2353,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Water supply; sewerage, waste management and r...",...,652.657802,649.121641,664.109381,668.629057,667.900116,666.157645,662.501069,666.072641,670.465530,671.195725
2354,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Water supply; sewerage, waste management and r...",...,564.906053,556.546448,588.675004,606.181091,579.670382,575.274741,584.579889,603.653198,582.437965,579.267062
2355,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Water supply; sewerage, waste management and r...",...,573.298713,569.640333,584.295768,588.176498,588.330920,586.126153,583.072532,585.986612,590.243674,590.431960
2356,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Water supply; sewerage, waste management and r...",...,32.167439,32.239816,34.032740,34.213878,32.456699,32.788064,33.850622,34.133498,33.091092,33.467339
2357,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Water supply; sewerage, waste management and r...",...,32.821004,32.917995,33.201442,33.628001,33.155480,33.441700,33.084082,33.536388,33.789210,34.025107

First we are going to drop some rows to make it more workabe. We are only interested in carbon dioxide emissions and will only take into accound those who have been seasonally adjusted.

In [4]:
df = df[df['Gas Type'] == 'Carbon dioxide']
df = df[df['Seasonal Adjustment'] == 'Seasonally Adjusted']
df

,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,Industry,...,2021Q2,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4,2023Q1,2023Q2,2023Q3
1,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",...,48.389825,45.826802,47.111955,46.918298,44.676357,46.670915,44.369416,46.199926,45.988041,45.314973
11,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",Construction,...,88.502599,88.778369,89.596150,90.041191,89.890852,89.981950,90.089470,89.966463,89.633132,89.330513
21,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Electricity, Gas, Steam and Air Conditioning S...",...,786.892613,768.885985,759.542653,791.911731,794.313309,772.266849,742.390040,705.095688,703.695410,703.675381
31,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",Manufacturing,...,536.932747,530.838626,530.995178,528.115064,525.211232,523.284838,515.551245,511.667119,508.702703,507.005213
41,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",Mining,...,78.038417,78.401954,78.022289,76.893465,77.897859,77.808472,77.055565,77.344787,76.639923,77.386808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",Other Services Industries,...,385.749047,392.430465,389.143343,396.459652,387.876591,386.998645,387.093564,392.778869,390.963526,389.817977
2319,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",Total Households,...,1167.502931,1160.235815,1183.773033,1203.404069,1173.882484,1183.400468,1149.981649,1140.303850,1143.507389,1130.886071
2329,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",Total Industry and Households,...,9324.468850,9281.071582,9398.069652,9487.937692,9399.022552,9412.879297,9291.043212,9301.183510,9297.793591,9291.619533
2339,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",Transportation and Storage,...,959.840287,976.670106,1010.392464,1024.262527,1019.369631,1020.511421,1018.924896,1030.699096,1035.638106,1044.617966
2349,World,NaN,WLD,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Water supply; sewerage, waste management and r...",...,43.176651,43.290045,43.418667,43.737417,43.428650,43.683059,43.500459,43.690289,43.561900,43.861272

Then we are goind to drop the columns we will not need

In [5]:
columns_to_drop = ["ISO2","ISO3","CTS Code","CTS Name", 'CTS Full Descriptor', 'Gas Type', 'Scale', 'Seasonal Adjustment', 'Unit', 'Source', 'Indicator']
df = df.drop(columns = columns_to_drop)
df

,Country,Industry,2010Q1,2010Q2,2010Q3,2010Q4,2011Q1,2011Q2,2011Q3,2011Q4,...,2021Q2,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4,2023Q1,2023Q2,2023Q3
1,Advanced Economies,"Agriculture, Forestry and Fishing",47.874676,48.539120,49.702728,49.283976,47.272517,49.446839,48.886713,47.318303,...,48.389825,45.826802,47.111955,46.918298,44.676357,46.670915,44.369416,46.199926,45.988041,45.314973
11,Advanced Economies,Construction,82.929850,81.782890,80.541686,78.568030,76.840480,74.932410,74.119405,74.113838,...,88.502599,88.778369,89.596150,90.041191,89.890852,89.981950,90.089470,89.966463,89.633132,89.330513
21,Advanced Economies,"Electricity, Gas, Steam and Air Conditioning S...",1109.942406,1137.962453,1154.403180,1136.683259,1104.196762,1151.530276,1160.422676,1062.272041,...,786.892613,768.885985,759.542653,791.911731,794.313309,772.266849,742.390040,705.095688,703.695410,703.675381
31,Advanced Economies,Manufacturing,630.763609,642.928770,652.178506,658.677160,654.756984,648.975010,648.077751,644.433441,...,536.932747,530.838626,530.995178,528.115064,525.211232,523.284838,515.551245,511.667119,508.702703,507.005213
41,Advanced Economies,Mining,73.525014,75.969248,76.816423,78.589302,79.069192,79.044533,80.152188,80.548967,...,78.038417,78.401954,78.022289,76.893465,77.897859,77.808472,77.055565,77.344787,76.639923,77.386808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,World,Other Services Industries,391.868013,384.443347,379.240147,392.861065,384.600076,369.319603,373.845265,380.030059,...,385.749047,392.430465,389.143343,396.459652,387.876591,386.998645,387.093564,392.778869,390.963526,389.817977
2319,World,Total Households,1076.515838,1108.200291,1121.297521,1127.659443,1121.762509,1098.403276,1110.994864,1120.224581,...,1167.502931,1160.235815,1183.773033,1203.404069,1173.882484,1183.400468,1149.981649,1140.303850,1143.507389,1130.886071
2329,World,Total Industry and Households,8164.872524,8424.104691,8510.961915,8571.357710,8612.926984,8682.040190,8750.647114,8701.724354,...,9324.468850,9281.071582,9398.069652,9487.937692,9399.022552,9412.879297,9291.043212,9301.183510,9297.793591,9291.619533
2339,World,Transportation and Storage,842.844927,872.164997,893.326449,897.806675,892.767372,898.700290,904.466412,911.719650,...,959.840287,976.670106,1010.392464,1024.262527,1019.369631,1020.511421,1018.924896,1030.699096,1035.638106,1044.617966
2349,World,"Water supply; sewerage, waste management and r...",38.455473,39.101648,39.936302,38.797349,39.292959,39.208918,39.406139,39.692460,...,43.176651,43.290045,43.418667,43.737417,43.428650,43.683059,43.500459,43.690289,43.561900,43.861272

We only kept the country columns and the industry as well as the quarters columns as those are the ones that are going to be relevant for our analysis. We also are going to change the data from quarters to years because we want to analyse yearly emissions instead of quaterly emissions.

In [6]:
# List of years to process
years = ['2010', '2011','2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', ]

# Initialize an empty dictionary to hold the yearly sums
yearly_data = {}

# Sum the values of each year
for year in years:
    yearly_data[year] = df[[f'{year}Q1', f'{year}Q2', f'{year}Q3', f'{year}Q4']].sum(axis=1)

# Create a new DataFrame with the yearly summed values
df_yearly = pd.DataFrame(yearly_data)
df_yearly

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,195.400500,192.924372,193.839454,191.497468,192.413737,194.965909,189.014607,190.798533,189.593308,189.200644,184.771296,188.241507,182.634986
11,323.822456,300.006132,304.934324,312.074658,312.851759,328.322974,336.957903,335.826283,340.775130,348.072133,345.097576,354.759703,360.003463
21,4538.991298,4478.421755,4415.683738,4364.454640,4245.955898,4084.544442,3708.723733,3601.820611,3514.515385,3232.560625,2936.080374,3089.745761,3100.881928
31,2584.548045,2596.243185,2560.758260,2582.834192,2559.874047,2529.316194,2241.535449,2237.508933,2244.302105,2211.417780,2055.482719,2134.042154,2092.162378
41,304.899986,318.814880,319.467449,334.571968,339.866499,316.422099,291.751865,316.758036,345.766767,352.516483,311.114053,312.746623,309.655361
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,1548.412571,1507.795003,1492.296959,1537.621317,1533.518027,1605.547043,1565.338870,1584.856849,1600.981690,1587.981940,1491.780457,1544.208475,1558.428451
2319,4433.673093,4451.385230,4496.159318,4617.552371,4635.678742,4679.490409,4677.167476,4753.219937,4841.862648,4819.264291,4364.952538,4640.263561,4710.668670
2329,33671.296840,34747.338642,35314.593067,35980.447011,36323.183460,36107.095479,35496.221717,36149.571035,37065.885329,37050.517853,35224.444967,37257.656362,37590.882753
2339,3506.143048,3607.653724,3665.611314,3752.716384,3830.995820,3961.107714,3982.427233,4138.073670,4268.942732,4277.407566,3637.094434,3897.752403,4083.068475
2349,156.290772,157.600477,159.915533,162.732525,162.637626,164.980777,169.243362,173.143638,171.471210,168.345468,164.772093,172.804632,174.349585

In [7]:

columns_to_drop = [col for col in df.columns if any(map(str.isdigit, col))]

df_country_industry = df.drop(columns=columns_to_drop)
df_country_industry

                 Country                                           Industry
1     Advanced Economies                  Agriculture, Forestry and Fishing
11    Advanced Economies                                       Construction
21    Advanced Economies  Electricity, Gas, Steam and Air Conditioning S...
31    Advanced Economies                                      Manufacturing
41    Advanced Economies                                             Mining
...                  ...                                                ...
2309               World                          Other Services Industries
2319               World                                   Total Households
2329               World                      Total Industry and Households
2339               World                         Transportation and Storage
2349               World  Water supply; sewerage, waste management and r...

[250 rows x 2 columns]

In [10]:

df1 = df_country_industry
df2 = df_yearly
df = pd.concat ([df1, df2], axis=1)
df

,Country,Industry,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Advanced Economies,"Agriculture, Forestry and Fishing",195.400500,192.924372,193.839454,191.497468,192.413737,194.965909,189.014607,190.798533,189.593308,189.200644,184.771296,188.241507,182.634986
11,Advanced Economies,Construction,323.822456,300.006132,304.934324,312.074658,312.851759,328.322974,336.957903,335.826283,340.775130,348.072133,345.097576,354.759703,360.003463
21,Advanced Economies,"Electricity, Gas, Steam and Air Conditioning S...",4538.991298,4478.421755,4415.683738,4364.454640,4245.955898,4084.544442,3708.723733,3601.820611,3514.515385,3232.560625,2936.080374,3089.745761,3100.881928
31,Advanced Economies,Manufacturing,2584.548045,2596.243185,2560.758260,2582.834192,2559.874047,2529.316194,2241.535449,2237.508933,2244.302105,2211.417780,2055.482719,2134.042154,2092.162378
41,Advanced Economies,Mining,304.899986,318.814880,319.467449,334.571968,339.866499,316.422099,291.751865,316.758036,345.766767,352.516483,311.114053,312.746623,309.655361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,World,Other Services Industries,1548.412571,1507.795003,1492.296959,1537.621317,1533.518027,1605.547043,1565.338870,1584.856849,1600.981690,1587.981940,1491.780457,1544.208475,1558.428451
2319,World,Total Households,4433.673093,4451.385230,4496.159318,4617.552371,4635.678742,4679.490409,4677.167476,4753.219937,4841.862648,4819.264291,4364.952538,4640.263561,4710.668670
2329,World,Total Industry and Households,33671.296840,34747.338642,35314.593067,35980.447011,36323.183460,36107.095479,35496.221717,36149.571035,37065.885329,37050.517853,35224.444967,37257.656362,37590.882753
2339,World,Transportation and Storage,3506.143048,3607.653724,3665.611314,3752.716384,3830.995820,3961.107714,3982.427233,4138.073670,4268.942732,4277.407566,3637.094434,3897.752403,4083.068475
2349,World,"Water supply; sewerage, waste management and r...",156.290772,157.600477,159.915533,162.732525,162.637626,164.980777,169.243362,173.143638,171.471210,168.345468,164.772093,172.804632,174.349585

In [11]:
df.to_csv('Yearly_emissions.csv', index=False)